<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodata</title>
</head>

<body>
    <h1>BIODATA</h1>
    <!-- <%= JSON.stringify(data) %> -->
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Username Id</th>
        </tr>
        <% data.forEach(el => { %>
        <tr>
            <td><%= el.name %></td>
            <td><%= el.usernameId %></td>
            <% }) %>
    </table>
</body>

</html>